.grid-container {
    display: grid;
    height: 70vh;
    width: 70vh;
    margin: auto;
    grid-template-columns: repeat(3, calc(70vh/3));
    grid-template-rows: repeat(3, calc(70vh/3));
    background-color: black;
    grid-gap: 2px;
}

.grid-item {
    display: flex;
    background-color: azure;
    justify-content: center;
    align-items: center;
}

#reset {
    position: absolute;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: 10px;
}